html {
    box-sizing: border-box;
}

body {
    margin: 10px;
    min-height: 100vh;
    background: lightsteelblue;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}